@min_distance=3.0

#E
PLLOUT
PLLOUT_DIV
CLKDIV_RETIMED
BBPD_CODE\[\d+\]
DCO_CODE\[\d+\]
DLF_CODE\[\d+\]
VPB

#W
REF
RESET_N
DLF_En
DLF_Clear
DLF_Ext_Override
DLF_IN_POL
DLF_Ext_Data\[\d+\]
DLF_KI\[\d+\]
DLF_KP\[\d+\]
COARSEBINARY_CODE\[\d+\]
MMDCLKDIV_RATIO\[\d+\]
VNB
