@min_distance=0.9

#S
PLLOUT
RESET_N
COARSETHERMAL_CODE\[0\]
COARSETHERMAL_CODE\[1\]
COARSETHERMAL_CODE\[2\]
COARSETHERMAL_CODE\[3\]
COARSETHERMAL_CODE\[4\]
COARSETHERMAL_CODE\[5\]
COARSETHERMAL_CODE\[6\]
COARSETHERMAL_CODE\[7\]
COARSETHERMAL_CODE\[8\]
COARSETHERMAL_CODE\[9\]
COARSETHERMAL_CODE\[10\]
COARSETHERMAL_CODE\[11\]
DCO_THERM\[0\]
DCO_THERM\[1\]
DCO_THERM\[2\]
DCO_THERM\[3\]
DCO_THERM\[4\]
DCO_THERM\[5\]
DCO_THERM\[6\]
DCO_THERM\[7\]
DCO_THERM\[8\]
DCO_THERM\[9\]
DCO_THERM\[10\]
DCO_THERM\[11\]
DCO_THERM\[12\]
DCO_THERM\[13\]
DCO_THERM\[14\]
DCO_THERM\[15\]
DCO_THERM\[16\]
DCO_THERM\[17\]
DCO_THERM\[18\]
DCO_THERM\[19\]
DCO_THERM\[20\]
DCO_THERM\[21\]
DCO_THERM\[22\]
DCO_THERM\[23\]
DCO_THERM\[24\]
DCO_THERM\[25\]
DCO_THERM\[26\]
DCO_THERM\[27\]
DCO_THERM\[28\]
DCO_THERM\[29\]
DCO_THERM\[30\]
DCO_THERM\[31\]
DCO_THERM\[32\]
DCO_THERM\[33\]
DCO_THERM\[34\]
DCO_THERM\[35\]
DCO_THERM\[36\]
DCO_THERM\[37\]
DCO_THERM\[38\]
DCO_THERM\[39\]
DCO_THERM\[40\]
DCO_THERM\[41\]
DCO_THERM\[42\]
DCO_THERM\[43\]
DCO_THERM\[44\]
DCO_THERM\[45\]
DCO_THERM\[46\]
DCO_THERM\[47\]
DCO_THERM\[48\]
DCO_THERM\[49\]
DCO_THERM\[50\]
DCO_THERM\[51\]
DCO_THERM\[52\]
DCO_THERM\[53\]
DCO_THERM\[54\]
DCO_THERM\[55\]
DCO_THERM\[56\]
DCO_THERM\[57\]
DCO_THERM\[58\]
DCO_THERM\[59\]
DCO_THERM\[60\]
DCO_THERM\[61\]
DCO_THERM\[62\]
DCO_THERM\[63\]

#E
COARSETHERMAL_CODE\[12\]
COARSETHERMAL_CODE\[13\]
COARSETHERMAL_CODE\[14\]
COARSETHERMAL_CODE\[15\]
COARSETHERMAL_CODE\[16\]
COARSETHERMAL_CODE\[17\]
COARSETHERMAL_CODE\[18\]
COARSETHERMAL_CODE\[19\]
COARSETHERMAL_CODE\[20\]
COARSETHERMAL_CODE\[21\]
COARSETHERMAL_CODE\[22\]
COARSETHERMAL_CODE\[23\]
DCO_THERM\[64\]
DCO_THERM\[65\]
DCO_THERM\[66\]
DCO_THERM\[67\]
DCO_THERM\[68\]
DCO_THERM\[69\]
DCO_THERM\[70\]
DCO_THERM\[71\]
DCO_THERM\[72\]
DCO_THERM\[73\]
DCO_THERM\[74\]
DCO_THERM\[75\]
DCO_THERM\[76\]
DCO_THERM\[77\]
DCO_THERM\[78\]
DCO_THERM\[79\]
DCO_THERM\[80\]
DCO_THERM\[81\]
DCO_THERM\[82\]
DCO_THERM\[83\]
DCO_THERM\[84\]
DCO_THERM\[85\]
DCO_THERM\[86\]
DCO_THERM\[87\]
DCO_THERM\[88\]
DCO_THERM\[89\]
DCO_THERM\[90\]
DCO_THERM\[91\]
DCO_THERM\[92\]
DCO_THERM\[93\]
DCO_THERM\[94\]
DCO_THERM\[95\]
DCO_THERM\[96\]
DCO_THERM\[97\]
DCO_THERM\[98\]
DCO_THERM\[99\]
DCO_THERM\[100\]
DCO_THERM\[101\]
DCO_THERM\[102\]
DCO_THERM\[103\]
DCO_THERM\[104\]
DCO_THERM\[105\]
DCO_THERM\[106\]
DCO_THERM\[107\]
DCO_THERM\[108\]
DCO_THERM\[109\]
DCO_THERM\[110\]
DCO_THERM\[111\]
DCO_THERM\[112\]
DCO_THERM\[113\]
DCO_THERM\[114\]
DCO_THERM\[115\]
DCO_THERM\[116\]
DCO_THERM\[117\]
DCO_THERM\[118\]
DCO_THERM\[119\]
DCO_THERM\[120\]
DCO_THERM\[121\]
DCO_THERM\[122\]
DCO_THERM\[123\]
DCO_THERM\[124\]
DCO_THERM\[125\]
DCO_THERM\[126\]
DCO_THERM\[127\]

#N
COARSETHERMAL_CODE\[24\]
COARSETHERMAL_CODE\[25\]
COARSETHERMAL_CODE\[26\]
COARSETHERMAL_CODE\[27\]
COARSETHERMAL_CODE\[28\]
COARSETHERMAL_CODE\[29\]
COARSETHERMAL_CODE\[30\]
COARSETHERMAL_CODE\[31\]
COARSETHERMAL_CODE\[32\]
COARSETHERMAL_CODE\[33\]
COARSETHERMAL_CODE\[34\]
COARSETHERMAL_CODE\[35\]
DCO_THERM\[128\]
DCO_THERM\[129\]
DCO_THERM\[130\]
DCO_THERM\[131\]
DCO_THERM\[132\]
DCO_THERM\[133\]
DCO_THERM\[134\]
DCO_THERM\[135\]
DCO_THERM\[136\]
DCO_THERM\[137\]
DCO_THERM\[138\]
DCO_THERM\[139\]
DCO_THERM\[140\]
DCO_THERM\[141\]
DCO_THERM\[142\]
DCO_THERM\[143\]
DCO_THERM\[144\]
DCO_THERM\[145\]
DCO_THERM\[146\]
DCO_THERM\[147\]
DCO_THERM\[148\]
DCO_THERM\[149\]
DCO_THERM\[150\]
DCO_THERM\[151\]
DCO_THERM\[152\]
DCO_THERM\[153\]
DCO_THERM\[154\]
DCO_THERM\[155\]
DCO_THERM\[156\]
DCO_THERM\[157\]
DCO_THERM\[158\]
DCO_THERM\[159\]
DCO_THERM\[160\]
DCO_THERM\[161\]
DCO_THERM\[162\]
DCO_THERM\[163\]
DCO_THERM\[164\]
DCO_THERM\[165\]
DCO_THERM\[166\]
DCO_THERM\[167\]
DCO_THERM\[168\]
DCO_THERM\[169\]
DCO_THERM\[170\]
DCO_THERM\[171\]
DCO_THERM\[172\]
DCO_THERM\[173\]
DCO_THERM\[174\]
DCO_THERM\[175\]
DCO_THERM\[176\]
DCO_THERM\[177\]
DCO_THERM\[178\]
DCO_THERM\[179\]
DCO_THERM\[180\]
DCO_THERM\[181\]
DCO_THERM\[182\]
DCO_THERM\[183\]
DCO_THERM\[184\]
DCO_THERM\[185\]
DCO_THERM\[186\]
DCO_THERM\[187\]
DCO_THERM\[188\]
DCO_THERM\[189\]
DCO_THERM\[190\]
DCO_THERM\[191\]

#W
VNB
VPB
COARSETHERMAL_CODE\[36\]
COARSETHERMAL_CODE\[37\]
COARSETHERMAL_CODE\[38\]
COARSETHERMAL_CODE\[39\]
COARSETHERMAL_CODE\[40\]
COARSETHERMAL_CODE\[41\]
COARSETHERMAL_CODE\[42\]
COARSETHERMAL_CODE\[43\]
COARSETHERMAL_CODE\[44\]
COARSETHERMAL_CODE\[45\]
COARSETHERMAL_CODE\[46\]
DCO_THERM\[192\]
DCO_THERM\[193\]
DCO_THERM\[194\]
DCO_THERM\[195\]
DCO_THERM\[196\]
DCO_THERM\[197\]
DCO_THERM\[198\]
DCO_THERM\[199\]
DCO_THERM\[200\]
DCO_THERM\[201\]
DCO_THERM\[202\]
DCO_THERM\[203\]
DCO_THERM\[204\]
DCO_THERM\[205\]
DCO_THERM\[206\]
DCO_THERM\[207\]
DCO_THERM\[208\]
DCO_THERM\[209\]
DCO_THERM\[210\]
DCO_THERM\[211\]
DCO_THERM\[212\]
DCO_THERM\[213\]
DCO_THERM\[214\]
DCO_THERM\[215\]
DCO_THERM\[216\]
DCO_THERM\[217\]
DCO_THERM\[218\]
DCO_THERM\[219\]
DCO_THERM\[220\]
DCO_THERM\[221\]
DCO_THERM\[222\]
DCO_THERM\[223\]
DCO_THERM\[224\]
DCO_THERM\[225\]
DCO_THERM\[226\]
DCO_THERM\[227\]
DCO_THERM\[228\]
DCO_THERM\[229\]
DCO_THERM\[230\]
DCO_THERM\[231\]
DCO_THERM\[232\]
DCO_THERM\[233\]
DCO_THERM\[234\]
DCO_THERM\[235\]
DCO_THERM\[236\]
DCO_THERM\[237\]
DCO_THERM\[238\]
DCO_THERM\[239\]
DCO_THERM\[240\]
DCO_THERM\[241\]
DCO_THERM\[242\]
DCO_THERM\[243\]
DCO_THERM\[244\]
DCO_THERM\[245\]
DCO_THERM\[246\]
DCO_THERM\[247\]
DCO_THERM\[248\]
DCO_THERM\[249\]
DCO_THERM\[250\]
DCO_THERM\[251\]
DCO_THERM\[252\]
DCO_THERM\[253\]
DCO_THERM\[254\]
