@min_distance=3.0

#E
PLLOUT
PLLOUT_DIV
CLKDIV_RETIMED
BBPD_CODE\[\d+\]
DCO_CODE\[\d+\]
DLF_CODE\[\d+\]
CONFIG_BUSY
TRACKING
CONFIG_VALID
TARGET_MHZ\[\d+\]
TARGET_DCO_CODE\[\d+\]
VPB

#W
REF
RESET_N
PLL_ENABLE
FEEDBACK_DIVIDER\[\d+\]
VNB
